*{
    margin:0;
    background-color: white;
    border-width: 2px;
    font-size: 30;
}
table{
    margin-left: 250px;
}
.dropbtn{
    background-color: white;
    color: black;
    padding:10px;
    margin-left: 500px;
}
.section button{
    margin-left: 1700px;
    padding: 8px;
    font-style: italic;
    border-radius: 10px;
}
.section button:hover{
    transition: 1ms;
    background-color: aliceblue;
    transition-property: inherit;
}
.notes table{
    margin-top: 50px;
    margin-left: 300px;
}
.display{
    background-color: white;
    margin-left: 450px;
    padding-top: 10px;
    margin-top: 2px;
}
h3{
    font-size: 40;
    margin-top: 60px;
    margin-left: 20px;
}
.display button{
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    margin-top: 2px;
    margin-left: 8px;
}
.display button:hover{
    transform-style:preserve-3d;
    transition: 2ms
    cursor:auto;
    background-color: grey;
}
.topics table{
    table-layout: fixed;
    box-sizing: border-box;
    font-size: 20;
    margin-left: 20px;
}
.topics thead th:nth-child(3){
    width: 10%;
    word-spacing: 2px;
}
.topics tbody td{
    padding: 10px;
    font-size: 10;
}
.topics tbody button{
    background-color: white;
    border-radius: 15px;
}
.topics tbody button:hover{
    transform-style:preserve-3d;
    transition: 2ms
    cursor:auto;
    background-color: grey;
}

}